# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Credentials/Logs
*.log
.aws/
credentials/
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# MacOS
.DS_Store
